<div id="student-info">
	<% if signed_in? %>
		 	<h4>Gpa info: <h4>
			</br><h5>Email:</h5>
			<%= @student.email %>
			<% if !@student.cumulative_gpa.nil? %>
				<h5>Cumulative Gpa:</h5>
				<div id="cumulative_gpa"><%= '%.2f' % @student.cumulative_gpa %></div>
			<% end %>
			<% if !@student.major_gpa.nil? %>
				<h5>Major Gpa:</h5>
				<div id="major_gpa"><%= '%.2f' % @student.major_gpa %></div>
			<% end %>
				<h5>Credits earned:</h5>
				<div id="credits_earned"><%= @student.credits_earned %></div>
				<h5>Major credits earned:</h5>
				<div id="major_credits_earned"><%= @student.major_credits_earned %>	</div>
	<% end %>
</div>