<h1>Listing students</h1>
  <table>
    <tr>
      <th>Email</th>
      <th>Credits earned</th>
      <th>Cumulative gpa</th>
      <th>Major gpa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.email %></td>
      <td><%= student.credits_earned %></td>
      <td><%= student.cumulative_gpa %></td>
      <td><%= student.major_gpa %></td>
      <td><%= link_to 'Show', student %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
      <td><%= link_to 'Destroy', student, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>