<h1><title>Email: <%= @student.email %> </title></h1>

<p>
  <b>Number of credits earned:</b>
  <%= @student.credits_earned %>
</p>


<p>
  <b>Number of major credits earned:</b>
  <%= @student.major_credits_earned %>
</p>


<p>
  <b>Cumulative gpa:</b>
  <%= @student.cumulative_gpa %>
</p>

<p>
  <b>Major gpa:</b>
  <%= @student.major_gpa %>
</p>

<p>
<b>Make projections:</b>
  <%= link_to 'Make projections', new_student_projection_path(@student, @projection) %>
</p>

<p>
<b>Enter taken courses to have your cumulative gpa, major gpa, and credits earned calculated and to be able to make projections</b>

<%= link_to 'Add completed courses', new_student_taken_course_path(@student, @taken_course) %>
</p>

<p>
<b>See taken courses:</b>
  <%= link_to 'See taken courses', student_taken_courses_path(@student) %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
