<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Number of credits earned:</b>
  <%= @student.credits_earned %>
</p>

<p>
  <b>Current gpa:</b>
  <%= @student.cumulative_gpa %>
</p>

<p>
  <b>Major gpa:</b>
  <%= @student.major_gpa %>
</p>

<p>
<b>Make projections:</b>
  <%= link_to 'Make projections', students_make_projections_path(@student) %>
</p>

<p>
<b>Enter taken courses to have your cumulative gpa, major gpa, and credits earned calculated and to be able to make projections</b>

<%= link_to 'Enter taken courses', new_student_taken_course_path(@student, @taken_course) %>
</p>

<p>
<b>See taken courses:</b>
  <%= link_to 'See taken courses', student_taken_courses_path(@student) %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
