<%= form_for(:projection, url: student_projections_path) do |f| %>

	
	
	<table>
		<tr>
		    <td>Course</td>
		    <td>Credits</td>
		    <td>Predicted Grade</td>
		    <td>Is Major  Course</td>
		    <td>Is Repeated Course</td>
	  	</tr>

		<tr>
			<% 7.times do |course_number| %>

				 <td><%= course_number + 1%> </td>
				 <td>
					<%= f.select :"credits#{course_number}", options_for_select([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) %>
				 </td>
				 <td>
				  	<%= f.select :"predicted_grade#{course_number}", options_for_select(['-','A','AB', 'B', 'BC', 'C', 'CD', 'D', 'F']) %>
				 </td>
				 <td>	
					 <%= f.check_box :"is_major_course#{course_number}" , {checked: true } %>
				</td>
				 <td>
					 <%= f.check_box :"is_repeated_course#{course_number}" , {checked: false } %>
				 </td>
		
		</tr>
			<% end %>
	<table>

	<%= f.submit "Calculate your predicted GPAs", class: "btn btn-large btn-primary" %>
		
<% end %>
