<% provide(:title, "Target GPA") %>
<h1>Form for target Cumulative GPA</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(:projection, url: student_projections_path) do |f| %>

			<%= f.label :desired_cumulative_gpa %>
			<%= f.text_field :desired_cumulative_gpa %>

			<%= f.label :credits_taken_this_semester %>
			<%= f.password_field :credits_taken_this_semester %>

			<%= f.hidden_field :gpa_you_want_this_semester %>



			<%= f.submit "Calculate GPA", class: "btn btn-large btn-primary" %>
		<% end %>

	</div>

<br>


 <% if !(params[:projection][:desired_cumulative_gpa] rescue nil).nil? && !(params[:projection][:credits_taken_this_semester] rescue nil).nil?  %>

 	<% if !(params[:projection][:desired_cumulative_gpa]).blank? && !(params[:projection][:credits_taken_this_semester]).blank?  %>
	   <%= 'Are not nil' %>
	   <%= params[:projection][:desired_cumulative_gpa] %>
	   <%= params[:projection][:credits_taken_this_semester] %>



	   <%= 'Cumulative Gpa you need this semester for target cumulative gpa' %>
	   <%-# arguments to method are: credits_earned, cumulative_gpa, targetGpa, creditsTakenThisSemester  -%>

	   <%= calculateGpaNeededForTargetCumulativeGpa(100, 3.5, 3.7, 18) %>


	   <%= 'Major Gpa you need this semester for target major (cumulative) gpa ' %>
	   <%-# arguments to method are: major_credits_earned, major_gpa, targetGpa, majorCreditsTakenThisSemester  -%>

	   <%=  calculateGpaNeededForTargetMajorGpa(100, 3.6, 3.8, 6) %>



	   <%= 'Your predicted cumulative gpa is ' %>
	   <%-# arguments to method are: credits_earned, cumulative_gpa, creditsArray, predictedGradeArray, isRepeatedCourseArray  -%>


	   	<%-# change those from global to local  -%>
		@creditsArray = [ 3, 2, 1 ]
		@predictedGradeArray = [ 'B', 'C', 'D' ]
		@isRepeatedCourseArray = [ 'true', 'true', 'false' ]

	   <%=  calculatePredictedCumulativeGpa(100, 3.6, @creditsArray, @predictedGradeArray, @isRepeatedCourseArray ) %>

	    <%-# add the last fourth method -%>

    <% else %>
    	 <%= 'Are empty' %>
    <% end %>
<% else %>
    <%= 'Are nil' %>
<% end %>

</br>

</div>


<%= debug("Params are") %>
<%= debug(params) %>


