<h1>Listing courses taken</h1>
<table>
  <tr>
    <th>Course name</th>
    <th>Student id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taken_courses.each do |taken_course| %>
  <tr>
    <% @course = Course.find(taken_course.course_id) %>
    <%= @course.name %>
    <td><%= @course.name %></td>
    <td><%= taken_course.student_id %></td>
    <td><%= link_to 'Show', taken_course %></td>
    <td><%= link_to 'Edit', edit_taken_course_path(taken_course) %></td>
    <td><%= link_to 'Destroy', taken_course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taken Course', new_taken_course_path %>
