<p id="notice"><%= notice %></p>

<%= debug(Student.find(params[:student_id]).major_gpa) %>

<p>
  <b>Student id:</b>
  <%= @taken_course.student_id %>
</p>

<p>
  <b>Course name:</b>
  <%= @course.name %>
</p>
 
<p>
  <b>Grade:</b>
  <%= @taken_course.grade %>
</p>




<%= link_to 'Edit', edit_taken_course_path(@taken_course) %> |
<%= link_to 'Back', taken_courses_path %>